.perfil{
    display: flex;
    justify-content: space-around;
    /* gap: 20px; */
    color: white;
    /* font-family: monospace; */
    text-align: start;
}
.tita{
    margin-left: 0;
}
.educacion{
    border: solid;
    border-color: white;
    /* background-color: black; */
    /* opacity: .8; */
    border-width: 1px;
    /* padding: 10px; */
    /* width: 550px; */
}
.contain{
    /* font-family: monospace; */
    text-align: start;
    padding-left: 200px;
    padding-right: 200px;
}
.title{
    text-decoration: underline;
}
.titulo{
    width: 200px;
    text-decoration: underline;
    font-size: 2.5rem;
    color:white;
    text-decoration-color: yellow;
}