.home{
  display: flex;
  justify-content: center;
  font-family: monospace;
}
.principal{
  background-color: black;
  border: solid;
  border-width: 1px;
  border-color: white;
  opacity: .9;
  color: white;
  width: 68rem;
  /* margin-left: 12.7rem; */
  height: 17rem;
  padding: 3rem;
  text-align: center
}
.link{
  height: 2rem;
}
.icono{
  height: 2rem;
  width: 2rem;
}
.titulo{
  text-decoration: underline;
}
.contacto{
  display: flex;
  justify-content: space-around;
}
.single{
  border: solid;
  border-width: 1px;
  border-color: white;
}