.home{
  display: flex;
  justify-content: center;
  font-family: monospace;
  text-align: start;
  margin: 0;
  padding-left: 200px;
  padding-right: 200px;
}

.botonCV {
  padding: 0.8em 1.8em;
  border: 2px solid yellow;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: monospace;
  color: yellow;
  width: 200px;
  cursor: pointer;
  border-radius: 500px;
 }
 
 .botonCV::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: yellow;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 .botonCV:hover::before {
  width: 105%;
 }
 
 .botonCV:hover {
  color: #111;
 }
 


.contact{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.principal{
  color: white;
  width: 68rem;
  height: 17rem;
  height: 19rem;
}
.link{
  height: 2rem;
}
.icono{
  height: 2rem;
  width: 2rem;
}
.titulo{
  /* text-decoration: underline; */
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0;
}
.contacto{
  display: flex;
  justify-content: space-around;
}
.single{
  border: solid;
  border-width: 1px;
  border-color: white;
}