.skill{
    display: flex;
    gap: 30px;
    text-align: center;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;

}
.titulo{
    width: 200px;
    text-decoration: underline;
    font-size: 2.5rem;
    color:white;
    text-decoration-color: yellow;
    margin-left: 460px;
}
.titula{
    background-color: black;
    width: 200px;
    margin-left: 150px;
    border: solid;
    border-width: 2px;
    border-color: yellow;
    text-decoration: none;
    /* border-radius: 1rem; */
    font-size: 1.9rem;
  }
.card{
    width: 144px;
    height: 190px;
    box-shadow: 1px 1.5px 1.5px 1px black;
    background-color: #181818;
    padding-bottom: 5px;
    justify-content: center;
    align-items: center;
}
.card:hover{
    transition-duration: .5s;
    transform: scale(1.20);
    justify-content: center;
    align-items: center;
}
    
.icon1{
    background-image: url('../../icons/icons8-css3-144.png');
    width: 144px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
}
.icon2{
    background-image: url('../../icons/icons8-javascript-144.png');
    background-repeat: no-repeat;
    width: 144px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
}
 .icon3{
    background-image: url('../../icons/icons8-html-5-144.png');
    width: 144px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
}
/* .card {
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    width: 170px;
    height: 180px;
    padding: 5px;
    border-radius: 1rem;
    border: solid 2px #ea5358;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position:;
    display: flex;
    flex-direction: column;
    z-index: 1;
   }
   
   
   
   .cardinfo {
    --color: #181818;
    background: var(--color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
   }
   
   .card .title {
    font-weight: bold;
    letter-spacing: .1em;
   }
   
   /*Hover*/
   

    
.icon4{
    background-image: url('../../icons/icons8-postgresql-144.png');
    width: 144px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
}
.icon5{
    background-image: url('../../icons/icons8-reaccionar-144.png');
    width: 144px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
}
.icon6{
    background-image: url('../../icons/nextjs_icon_132160.png');
    width: 128px;
    height: 128px;
    margin-left: auto;
    margin-right: auto;
}
.icon7{
    background-image: url('../../icons/icons8-git-144.png');
    width: 144px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
}
.icon8{
    background-image: url('../../icons/icons8-node-js-144.png');
    width: 144px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
} 
.icon9{
    background-image: url('../../icons/icons8-typescript-144.png');
    width: 144px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
}
.icon10{
    background-image: url('../../icons/icons8-angularjs-144.png');
    width: 144px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
}
.tech{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
    margin-left: 160px;
}
.soft{
    text-align: start;
}